<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/application/head' %>
  </head>
  <body>

    <%= render partial: 'layouts/bars/header' %>

    <div id="content" class="single_item">
      <%= yield %>
    </div>

    <%= render 'layouts/bars/footer' %>


    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <% if page.map? %>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <% end %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
